@tailwind base;
@tailwind components;
@tailwind utilities;





h1{
  @apply text-6xl font-bold
}
h2{
  @apply text-4xl font-bold
}
h3{
  @apply text-3xl font-bold
}


.link{
  @apply hover:opacity-70  transition-all duration-200 cursor-pointer 
}

.btn {

  @apply rounded-sm px-4 py-2 hover:brightness-110 transition-all duration-150 
}

.text-light{
  @apply text-[#757575]
}



@keyframes bounce {
  0%, 100% {
      transform: translateY(0); /* Start and end point */
  }
  50% {
      transform: translateY(-15px); /* Bounce height */
  }
  }

  svg.animate-bounce {
  animation: bounce 3s ease infinite; /* Adjust duration and timing function as needed */
  }