@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
  @apply text-6xl font-bold
}
h2{
  @apply text-4xl font-bold
}
h3{
  @apply text-3xl font-bold
}
h4{
  @apply text-2xl font-bold
}


.link{
  @apply hover:opacity-70  transition-all duration-200 cursor-pointer 
}

.btn {

  @apply rounded-sm px-4 py-2 hover:brightness-110 transition-all duration-150 
}



.btn-inverted {
  @apply p-2   font-bold  focus:ring-2 focus:ring-blue-600/50 border border-blue-600 
  flex justify-center items-center gap-2 rounded-sm
}

.btn-login {
  @apply p-2 bg-blue-600  text-white font-bold focus:ring-2 focus:ring-blue-600/50 border border-blue-600 
  flex justify-center items-center gap-2 rounded-sm
}

.input-box{ @apply border border-gray-300 block rounded-sm w-full p-2.5 outline-none
 placeholder:text-gray-300 focus:border-blue-600 
  
 transition-all duration-300
}




.input-wrapper{

  @apply  block mb-2  text-sm font-medium 

}

.text-light{
  @apply text-[#757575]
}



@keyframes bounce {
  0%, 100% {
      transform: translateY(0); /* Start and end point */
  }
  50% {
      transform: translateY(-15px); /* Bounce height */
  }
  }

.animate-bounce {
  animation: bounce 3s ease infinite; /* Adjust duration and timing function as needed */
  }



  .card:hover{

    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card {
    border-radius: 4px;
    border: 1px solid #ece3e3;
  }